.content {
  display: grid;
  grid-template: 1fr 40px / 1fr;
  justify-items: center;

  &__container {
    display: grid;
    grid-template: repeat(5, 140px) / minmax(500px, 940px);
    gap: 25px;
    margin: 25px;
  }

  &__pagination {
    display: grid;
    grid-template: 1fr / repeat(11, 1fr);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
  }

  &__itemContainer {
    display: block;
  }
}

.article {
  display: grid;
  // grid-template:
  //   [start] 'header' 1fr [row2]
  //   [row2] 'body' 1fr [row-end] / 1fr;
  grid-template: 1fr 1fr / 1fr;
  background-color: $backgroundColorContent;
  border-radius: 5px;
  box-shadow: $shadow;
  height: 100%;

  &__header {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
  }

  &__header-container {
  }

  &__title {
  }

  &__like-counter {
  }

  &__user-container {
  }

  &__username {
  }

  &__date-create {
  }

  &__body {
  }
}

.user {
  &__pic {
    width: 46px;

    & > img {
      border-radius: 50%;
    }
  }
}
