.content {
  display: grid;
  grid-template: 1fr 25px / 1fr;
  justify-items: center;

  &__container {
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template: 140px / minmax(500px, 940px);
    gap: 25px;
  }
}
