.header {
  display: grid;
  grid-template: 51px / 147px 250px;
  justify-content: space-between;
  align-content: center;
  padding: 22px 0 22px 0;

  &__title {
    justify-self: center;
    align-self: center;
    font-size: 18px;
    font-weight: 400;
  }
  &__btn-container {
    display: grid;
    grid-template: 51px / repeat(2, 1fr);
    justify-content: space-between;
    align-content: center;
  }
}

.button {
  background-color: inherit;
  font-size: 18px;
  font-weight: 400;

  &__main {
    display: block;
    width: 109px;
    height: 51px;
    border-radius: 5px;
  }
  &_sign-up {
    border: 1px solid $successColor;

    & > a {
      color: $successColor;
    }
  }
}
