.header {
  display: grid;
  grid-template: 51px / 147px 1fr;
  justify-content: space-between;
  align-content: center;
  padding: 22px 0 22px 0;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ebeef3;
  z-index: 2;

  &__title {
    justify-self: center;
    align-self: center;
    font-size: 18px;
    font-weight: 400;
  }
  &__btn-container {
    display: grid;
    grid-template: 51px / repeat(2, 1fr);
    justify-content: space-between;
    justify-self: end;
    align-content: center;
    margin-right: 30px;
  }

  &__userbar {
    display: grid;
    grid-template: 58px / 143px 1fr 125px;
    justify-content: space-between;
    justify-self: end;
    align-content: center;
    gap: 20px;
  }
}

.button {
  background-color: inherit;
  font-size: 18px;
  font-weight: 400;

  &__main {
    display: block;
    width: 109px;
    height: 51px;
    border-radius: 5px;
    align-self: center;
  }
  &_sign-up {
    border: 1px solid $successColor;

    & > a {
      color: $successColor;
    }
  }
  &_log-out {
    border: 1px solid black;
  }
  &__create-article {
    border: 1px solid $successColor;
    width: 112px;
    height: 31px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    border-radius: 5px;
    justify-self: end;

    & > a {
      color: $successColor;
    }
  }

  &__delete-article {
    border: 1px solid $deleteColor;
    width: 112px;
    height: 31px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    color: $deleteColor;
    font-size: 14px;
    line-height: 22px;
    border-radius: 5px;
  }

  &__edit-article {
    border: 1px solid $successColor;
    width: 112px;
    height: 31px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    color: $successColor;
    font-size: 14px;
    line-height: 22px;
    border-radius: 5px;
  }
}

.userbar {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;

  &__pic {
    width: 46px;
    height: 46px;

    & > img {
      border-radius: 50%;
    }
  }

  &__name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
}
