// * colors ---------- * //

$backgroundColorHTML: #ebeef3;
$backgroundColorContent: #ffffff;
$backgroundColorHeader: $backgroundColorContent;
$successColor: #52c41a;

// * shadows -----------* //

$shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
